// Color
$color-primary: #282c37;
$color-secondary: #2b90d9;
$color-secondary-light: #82b6db;
$color-secondary-dark: #044a7c;
$color-grey-light: #d9e1e8;
$color-grey-dark: #9baec8;
$color-error: #ff7730;
$gradient-dark: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
$shadow: 0 1rem 3rem rgba($color-primary, .3);
$shadow-dark: 0 .5rem 1rem rgba($color-primary, .5);
// Fonts
$font-primary: 'Lato',
sans-serif;
$font-heading: 'Josefin Sans',
sans-serif;
$font-chinese: 'Noto Sans TC',
sans-serif;
// Layout
$padding-main: 0 15vw;
$padding-2: 10rem 15vw;
// Media Query
$bp-largest: 100em; // 1600px
$bp-large: 81.25em; // 1300px
$bp-medium: 75em; // 1200px
$bp-small: 62.5em; // 1000px
$bp-xs: 50em; // 800px
$bp-smallest: 31.25em; // 500px